ServerlessDemo.Integrations.LogicApps.ImageAdded/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azureblob_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azureblob"
    },
    "azureblob_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "storage-connection"
    },
    "azureblob_1_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "serverlessdemo06012018"
    },
    "azureblob_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    },
    "azureblob_2_Connection_Name": {
      "type": "string",
      "defaultValue": "azureblob-1"
    },
    "azureblob_2_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "storage-connection2"
    },
    "azureblob_2_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "serverlessdemo06012018"
    },
    "azureblob_2_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "GetImageByPath": {
              "type": "Function",
              "inputs": {
                "body": {
                  "RelativePath": "@triggerBody()?['Path']"
                },
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "function": {
                  "id": "/subscriptions/e21cae4d-3269-42e3-ac13-ff9cf647c624/resourceGroups/serverlessdemo-rg/providers/Microsoft.Web/sites/FunctionApp20180103125221/functions/GetImageByPath"
                }
              },
              "runAfter": {}
            },
            "Get_blob_content": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/content",
                "queries": {
                  "inferContentType": true
                }
              },
              "runAfter": {
                "GetImageByPath": [
                  "Succeeded"
                ]
              }
            },
            "GenerateThumbnail": {
              "type": "Function",
              "inputs": {
                "body": "@body('Get_blob_content')",
                "function": {
                  "id": "/subscriptions/e21cae4d-3269-42e3-ac13-ff9cf647c624/resourceGroups/serverlessdemo-rg/providers/Microsoft.Web/sites/FunctionApp20180103125221/functions/GenerateThumbnail"
                }
              },
              "runAfter": {
                "Get_blob_content": [
                  "Succeeded"
                ]
              }
            },
            "Create_blob": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/thumbnails",
                  "name": "@triggerBody()?['Name']"
                },
                "body": "@base64toBinary(body('GenerateThumbnail')['Bytes'])"
              },
              "runAfter": {
                "GenerateThumbnail": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "UpdateImageThumbnail": {
              "type": "Function",
              "inputs": {
                "body": {
                  "ImageId": "@body('GetImageByPath')['ImageId']",
                  "ThumbnailRelativePath": "@body('Create_blob')?['Path']"
                },
                "function": {
                  "id": "/subscriptions/e21cae4d-3269-42e3-ac13-ff9cf647c624/resourceGroups/serverlessdemo-rg/providers/Microsoft.Web/sites/FunctionApp20180103125221/functions/UpdateImageThumbnail"
                }
              },
              "runAfter": {
                "Create_blob": [
                  "Succeeded"
                ]
              }
            },
            "GetImageMetadata": {
              "type": "Function",
              "inputs": {
                "body": "@body('Get_blob_content')",
                "function": {
                  "id": "/subscriptions/e21cae4d-3269-42e3-ac13-ff9cf647c624/resourceGroups/serverlessdemo-rg/providers/Microsoft.Web/sites/FunctionApp20180103125221/functions/GetImageMetadata"
                }
              },
              "runAfter": {
                "UpdateImageThumbnail": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_one_or_more_blobs_are_added_or_modified_(metadata_only)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/batch/onupdatedfile",
                "queries": {
                  "folderId": "L3BlbmRpbmc=",
                  "maxFileCount": 10
                }
              },
              "recurrence": {
                "frequency": "Second",
                "interval": 30
              },
              "metadata": {
                "L3BlbmRpbmc=": "/pending"
              },
              "splitOn": "@triggerBody()"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureblob_2_Connection_Name'))]",
                "connectionName": "[parameters('azureblob_2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azureblob_2_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureblob_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblob_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_1_accountName')]",
          "accessKey": "[parameters('azureblob_1_accessKey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azureblob_2_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azureblob')]"
        },
        "displayName": "[parameters('azureblob_2_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azureblob_2_accountName')]",
          "accessKey": "[parameters('azureblob_2_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}